

body {
  font-family: Arial, helvetica, sans-serif;
}


h1 {
  color: rgb(57, 181, 74);
  font-size: 127%;
  font-weight: bold;
}

.title {
  margin-right: 200px;
}

h2 {
  color: rgb(57, 181, 74);
  font-size: 121%;
  font-weight: bold;
}

h3 {
  font-size: 109%;
  font-weight: bold;
}

h4 {
  font-size: 100%;
  font-weight: bold;
  /*font-style: italic;*/
}

.watermark {
  opacity: 0.2;
  position: fixed;
  top: 50%;
  left: 50%;
  font-size: 500%;
  color: #00407d;
}


<style>
table.nexaTable {
 border: 1px solid #ffb999;
 background-color: #FFFFFF;
 width: 100%;
 text-align: left;
 border-collapse: collapse;
 margin-left:auto;
 margin-right:auto;
}
table.nexaTable td, table.nexaTable th {
 border: 1px solid #AAAAAA;
 padding: 3px 2px;
}
table.nexaTable tbody td {
 font-size: 13px;
}
table.nexaTable tr:nth-child(even) {
 background: #ffb999;
}
table.nexaTable thead {
 background: #FF5500;
 background: -moz-linear-gradient(top, #FF5500 0%, #327cad 66%, #1C6EA4 100%);
 background: -webkit-linear-gradient(top, #FF5500 0%, #FF5500 66%, ##FF5500 100%);
 background: linear-gradient(to bottom, #FF5500 0%, #FF5500 66%, #FF5500 100%);
 border-bottom: 2px solid #FF5500;
}
table.nexaTable thead th {
 font-size: 15px;
 font-weight: bold;
 color: #FFFFFF;
 border-left: 2px solid #ffb999;
}
table.nexaTable thead th:first-child {
 border-left: none;
}
table.nexaTable tfoot {
 font-size: 14px;
 font-weight: bold;
 color: #FFFFFF;
 background: #ffb999;
 background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
 background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
 background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
 border-top: 2px solid #444444;
}
table.nexaTable tfoot td {
 font-size: 14px;
}
table.nexaTable tfoot .links {
 text-align: right;
}
table.nexaTable tfoot .links a{
 display: inline-block;
 background: #1C6EA4;
 color: #FFFFFF;
 padding: 2px 8px;
 border-radius: 5px;
}
</style>
